<div class="sensor">
  <img src="/assets/temperature.png" alt="Temperature" class="icon">
  <h2>Capteur Température</h2>
  <div class="status-indicator">
    <span>Status:</span>
    <span class="status-circle" [style.background-color]="getBackgroundColor()"></span>
  </div>
  <p class="value">{{ temperatureCurrent() !== null ? temperatureCurrent() + '°C' : 'N/A' }}</p>
  <small style="opacity: 0.7; font-size: 0.8em;">Mise à jour: {{ lastUpdate() }}</small>
  <button (click)="getTemperatureLogs()">Historique</button>
  <ul *ngIf="showTemperatureLogs()">
    <li *ngFor="let log of temperatureLogs()">
      <span class="log-time">{{ log.time }}</span>
      <span class="log-value">{{ log.value }}°C</span>
    </li>
  </ul>
</div>


